@media only screen and (min-width: 992px) 
{
    .TopBar
    {
        width: 100%;
        height: 100px;
        background-color: rgb(18, 16, 16);
        /*background-color: rgb(34, 35, 38);*/
        box-shadow: 0px 2px 4px rgb(18,18,18);
    }
    .Left
    {
        float: left;
        width: 30%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 18px;
        padding-top: 0;
       
    }
    .F-B
    {
        width: 300px;
        height: 82px;
        background-image: url("img/wn02s.png");
        background-size: cover;
    } 
    .Right
    {
        float: left;
        width: 70%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(18, 16, 16);
    }
    .R-Box
    {
        float: right;
        color: #FFFF;
        width: 420px;
        height: auto;
        padding-top: 41px;
        padding-bottom: 41px;
       
    }
    .R-Box a
    {
        color: #FFFF;
        font-family: sans-serif;
        text-decoration: none;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .R-Box a:hover
    {
        color: rgb(199, 0, 0);
        transition: 0.10s;
    }
    
    .MenuBar
    {
        width: 100%;
        height: 64px;
        background-color: rgb(14, 63, 83);
    }
    .ATLAS-GRID-TOP
    {
        width: 992px;
        height: 64px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(228, 228, 228);
    }
    .ATLAS-GRID-TOP::after
    {
        display: table;
        clear: both;
        content: '';
    }
    .ATLAS-GRID-SHOVEL1
    {
        float: left;
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
        width: 248px;
        font-size: 14px;
        font-family: sans-serif;
        transition: 0.10s;
    }
    .ATLAS-GRID-SHOVEL2
    {
        float: left;
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
        width: 248px;
        font-size: 14px;
        font-family: sans-serif;
        transition: 0.10s;
    }
    .ATLAS-GRID-SHOVEL3
    {
        float: left;
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
        width: 248px;
        font-size: 14px;
        font-family: sans-serif;
        transition: 0.10s;
    }
    .ATLAS-GRID-SHOVEL4
    {
        float: left;
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
        width: 248px;
        font-size: 14px;
        font-family: sans-serif;
        transition: 0.10s;
    }
    .ATLAS-INFO-TOP_TiT
    {
        padding-top: 64px;
        text-align: center;
        font-size: 54px;
        color: rgba(230, 222, 222, 0.975);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
    }
    .ATLAS-Gllery
    {
        max-width: 100%;
        height: 1000px;
        background: url("img/inter2.jpg") no-repeat center top;
        background-size: cover;
    }
    .ATLAS-INFO-TOP_BoT
    {
        text-align: center;
        font-size: 24px;
        color: rgba(230, 222, 222, 0.975);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
    }
    .ATLAS-INFO-BOT-MC
    {
        padding-top: 76px;
        text-align: center;
        font-size: 25px;
        color: rgba(230, 222, 222, 0.975);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
    }
    .ATLAS-BOT-INFO
    {
        margin-top: 80px;
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
    .ATLAS-BOT-INFO::after
    {
        display: table;
        clear: both;
        content: '';
    }
    .ATLAS-BOT-B
    {
        float: left;
        width: 398px;
        height: 428px;
        margin-left: 48px;
        margin-right: 48px;
        border: 1px solid rgb(0, 138, 180);
    }
    .ATLAS-CTN
    {
        width: 992px;
        height: 760px;
    }
    .ATLAS-CTN-B1A-TiT
    {
        padding-top: 60px;
        font-size: 44px;
        text-align: center;
        color: rgb(228, 228, 228);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
    }
    .ATLAS-CTN-B1A-BT1::after
    {
        display: table;
        clear: both;
        content: '';
    }
    .ATLAS-CTN-B1A-BT1
    {
        width: 992px;
    }
    .ATLAS-CTN-BT1-L
    {
        float: left;
        width: 512px;
        height: 248px;
        margin-top: 60px;
        margin-left: 240px;
        margin-right: 240px;
        background-image: url("img/Pays.png");
        background-size: cover;
    }
    .ATLAS-CTN-BT1-R
    {
        float: left;
        width: 512px;
        height: 248px;
        margin-top: 80px;
        text-align: center;
        margin-left: 240px;
        margin-right: 240px;
        font-size: 20px;
        color: rgb(228, 228, 228);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
    }
    .ATLAS-BOT
    {
        max-width: 100%;
        height: 700px;
        background: url("img/inter3.jpg") no-repeat center top;
        background-size: cover;
    }
    .ATLAS-BOT-TiT
    {
        padding-top: 60px;
        font-size: 44px;
        text-align: center;
        color: rgba(228, 228, 228, 0.9);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
    }
    .ATLAS-BOT-C1A
    {
        margin-top: 60px;
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
    .ATLAS-BOT-C1A-B
    {
        float: left;
        width: 200px;
        height: 230px;
        margin-left: 65px;
        margin-right: 65px;
    }
    .ATLAS-BOT-PlG
    {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 800px;
        color: rgb(228, 228, 228);
        text-shadow: 2px 2px 4px rgb(30, 30, 30);
        font-family: 'Monda';
        font-size: 16px;
    }
    .ATLAS-FTeR
    {
        width: 992px;
        height: 340px;
    }
    .ATLAS-FTeR
    {
        width: 992px;
        height: 340px;
    }
    .ATLAS-FTeR-B1A
    {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(136, 127, 127);
        font-family: sans-serif;
    }
    .ATLAS-FTeR-B1A-InF
    {
        float: left;
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        width: 217px;
        height: 226px;
        border-right: 1px solid rgba(85, 79, 79, 0.453);
    }
    .ATLAS-FTeR-B1A-InF-EnD
    {
        float: left;
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        width: 217px;
        height: 226px;
        border-right: 1px solid rgba(85, 79, 79, 0);
    }
    .ATLAS-FTeR-A-FB
    {
        margin-top: 20px;
        width: 217px;
        height: 80px;
        background-image: url("img/wn02s.png");
        background-size: cover;
    }
}